$background: #1D193B;
$paper-background: #292555;
$color: #fff;
$success: #90C03F;
$primary: #FD6547;
$secondary: #6B44FA;
$error: #F24446;
$font-size: 16px;


$size-unit: 8px;
$size-sidebar: 300px;
$size-navbar: 76px;
$size-avatar-m: 48px;
$size-avatar-l: 64px;
$size-avatar-s: 32px;

$border-radius: 6px;
